$white: #fff;
$blue: #2f52e0;
$navy: #02182b;
$teal: #00b9ae;
$orange: #ff715b;
$yellow: #f9cb40;

$font-primary: 'Open Sans', sans-serif;
$font-display: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 75em) {
    //1200
    font-size: 56.25%;
  }
}

body {
  font-family: $font-primary;
  font-size: $default-font-size;
  background-color: $white;
  color: $navy;
}

////***** CONTAINERS *****
.left-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 38%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: $blue;
  @media only screen and (max-width: 62.5em) {
    //1000px
    position: relative;
    width: 100%;
  }
}

.right-container {
  position: static;
  width: 62%;
  max-width: 1200px;
  margin-left: 38%;
  overflow: visible;

  @media only screen and (max-width: 62.5em) {
    //1000px
    position: relative;
    width: 100%;
    margin-left: 0;
  }
}

////***** SIDEBAR SECTION *****
.sidebar {
  padding: 5rem;
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media only screen and (max-width: 62.5em) {
    //1000px
    height: 80vh;
  }
  @media only screen and (max-width: 37.5em) {
    //600px
    padding: 2rem;
  }
}
.heading-1-list {
  display: flex;
  list-style-type: none;
}

////***** NAVBAR SECTION *****
#navbar {
  position: fixed;
  top: 0;
  z-index: 10;
}
.dropdown {
  margin-left: 10px;
}
.navbar {
  &--icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 10px;
    color: darken($white, 20);
  }
  &--content {
    display: none;
    font-family: $font-primary;
    font-weight: 300;
    position: absolute;
    background-color: $white;
    min-width: 15rem;
    box-shadow: 0px 7px 15px 0px rgba($navy, 0.2);
    z-index: 1;
  }
  &--link {
    display: block;
    color: $navy;
    padding: 7px;
    text-decoration: none;
    &:hover {
      background-color: $blue;
    }
  }
}
.dropdown:hover .navbar--content {
  display: block;
}

////***** PROJECTS SECTION *****
.projects {
  background-color: $navy;
  @media only screen and (max-width: 62.5em) {
    //1000px
    padding-bottom: 5rem;
  }

  &__heading-container {
    padding: 5rem 0 0 5rem;

    @media only screen and (max-width: 37.5em) {
      //600px
      padding: 4rem 0 2rem 2rem;
    }
  }
}
.grid-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34.5rem, 1fr));
  grid-gap: 5rem;
  padding: 5rem;

  @media only screen and (max-width: 37.5em) {
    //600px
    grid-gap: 3rem;
    padding: 2rem;
  }
}
.project-box {
  width: 100%;
  padding: 4rem 4rem 0 4rem;
  background-color: $white;
  &__img {
    max-width: 100%;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &--text {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

////***** ABOUT SECTION *****

.about {
  background-color: $white;
  padding: 5rem;

  @media only screen and (max-width: 37.5em) {
    //600px
    padding: 4rem;
  }
}

///***** CONTACT SECTION *****
.contact {
  width: 100%;

  &__text {
    background-color: $teal;
    background: linear-gradient(45deg, $teal 50%, $yellow 50%);
    padding: 5rem;
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 37.5em) {
      //600px
      padding: 4rem 2rem;
    }
  }
}

////***** FOOTER SECTION *****

.footer {
  background-color: $navy;
  padding: 3rem;
  color: $white;
  &__text {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
  }
  &__text > a {
    text-decoration: none;
    color: inherit;
  }
}
.copyright {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

//***** TYPOGRAPHY *****
.heading-1 {
  color: $white;
  font-family: $font-display;
  font-weight: 200;
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media only screen and (max-width: 75em) {
    //1200
    font-size: 4rem;
  }
  @media only screen and (max-width: 62.5em) {
    //1000px
    font-size: 6rem;
  }
  @media only screen and (max-width: 37.5em) {
    //600px
    font-size: 4rem;
  }
}
.letter-1 {
  color: #c0cff0;
}
.letter-5 {
  color: #1bcb22;
  margin-right: 2rem;
}
.letter-4 {
  color: #d7eb3a;
}
.letter-7 {
  color: #244049;
}
.letter-8 {
  color: #30d09f;
}
.letter-11 {
  color: #e6bb3a;
}
.heading-2 {
  color: $white;
  font-size: 2.3rem;
  font-weight: 300;

  @media only screen and (max-width: 62.5em) {
    //1000px
    font-size: 3rem;
  }
  @media only screen and (max-width: 37.5em) {
    //600px
    font-size: 2.3rem;
  }
}
.heading-3 {
  color: $navy;
  font-family: $font-primary;
  font-weight: 300;
  &--white {
    color: $white;
  }
}

.paragraph {
  font-family: $font-primary;
  font-size: $default-font-size;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

//***** BUTTONS *****
.btn {
  border: none;
  box-shadow: 0 5px 5px rgba($navy, 0.2);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;
  text-transform: capitalize;
}

.btn-sm {
  display: inline-block;
  background: $navy;
  padding: 1rem 1.2rem;
  color: $white;
  font-size: 1rem;
  &:hover {
    background: $teal;
    color: $navy;
    box-shadow: 0 5px 5px rgba($navy, 0.1);
  }
  &--demo {
    margin-right: 3px;
  }
}

.btn-md {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  color: $white;
  text-transform: capitalize;
  padding: 1.5rem 6rem;
  margin: 3rem 0 4rem 0;
  background-color: $orange;
  border-radius: 0;

  &:hover {
    background-color: darken($orange, 6);
    color: $white;
    box-shadow: 0 5px 5px rgba($navy, 0.1);
  }
}

.social-links {
  width: 13rem;

  &__left-side {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }
  &__contact {
    margin: 0 auto;
  }
}

.social-link {
  font-size: 2.3rem;
  text-decoration: none;
  color: $white;
  &:hover {
    color: darken($white, 10);
    text-decoration: none;
  }
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.nut {
  height: 2rem;
  width: 2rem;
}
